<header class="header">
  <div class="wrapper">
    <div class="nav">
      <a class="logo-link" href="#0">
        <div class="logo-img" role="img" aria-label="Logo of Good4Me company"></div>
      </a>

      {{#> header/burger-menu}}
      {{/header/burger-menu}}

      <ul class="nav-menu">
        {{#each navLinks}}
          <li class="nav-menu__item">
            <a href="#0" class="nav-menu__link">{{uppercase this}}</a>
          </li>
        {{/each}}
      </ul>

      <div class="nav-icons">
        <div class="nav-icons__content">
          <div class="nav-icons__search nav-icons__content-item"></div>

          <div class="nav-icons__profile nav-icons__content-item"></div>

          <div class="nav-icons__cart nav-icons__content-item">
            <div class="nav-icons__cart-items">1</div>
          </div>
        </div>

        <form class="search-form">
          <input class="search-form__input" placeholder="Search">
        </form>
      </div>
    </div>
  </div>
</header>
