<header class="header">
  <div class="wrapper">
    <div class="nav">
      <a class="logo-link" href="#0">
        <div class="logo-img" role="img" aria-label="Logo of Good4Me company"></div>
      </a>

      {{#> header/burger-menu}}
      {{/header/burger-menu}}

      <ul class="nav-menu">
        <li class="nav-item"><a href="#0" class="nav-link">SHOP</a></li>
        <li class="nav-item"><a href="#0" class="nav-link">FAQ'S</a></li>
        <li class="nav-item"><a href="#0" class="nav-link">STOCKISTS</a></li>
        <li class="nav-item"><a href="#0" class="nav-link">WHOLESALE</a></li>
        <li class="nav-item"><a href="#0" class="nav-link">CONTACT</a></li>
      </ul>

      <div class="nav-icons">
        <div class="nav-icons__content">
          <div class="nav-icons__content-item nav-icons__search"></div>

          <div class="nav-icons__content-item nav-icons__profile-icon"></div>

          <div class="nav-icons__content-item nav-icons__cart">
            <div class="nav-icons__cart-items">1</div>
          </div>
        </div>

        <form class="search-form">
          <input class="search-form__input" placeholder="Search">
        </form>
      </div>
    </div>
  </div>

  {{!-- {{#> info-box}}
    <p>Info-box from header</p>
  {{/info-box}} --}}
</header>
