// main colors
$white: #fff;
$black: #000;
$orange: #f6623e;
$peach: #fff8f6;
$light-gray: #9d9d9d;
$dark-grey: #454545;
$pink: #fa00c4;

// shadows
$box-shadow: 0 0 15px rgb(0 0 0 / 10%);
$button-shadow: 0 0 4px rgb(0 0 0 / 25%);
