body {
  @include regular-font;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 320px;
  margin-inline: auto;
  padding-inline: 15px;
}

.button {
  font-size: 16px;

  @include medium-font;

  &:hover {
    cursor: pointer;
  }
}
